<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/SearchTable.css">
    </head>
    <body>
        <div id="ownerpage">
            <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
        </div>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
            <a href="#" onclick="document.location='/logout'">Logout</a>
            <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
            <a href="#" onclick="document.location='/systemadmin'">Go back to Home Page</a>
        </div>
        <button class="openbtn" onclick="openNav()"><img src="img/settings.png" class="image"></button>
        <script>
            function openNav() {
              document.getElementById("mySidepanel").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidepanel").style.width = "0";
            }
        </script>
    
        <div id="options">
            <h1>viewing all searched manager accounts</h1><br>
            <% if(typeof results !== "undefined") {%>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Number</th>
                            <th>Username</th>
                            <th>Chat ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<results.length;i++) { %>
                        <tr>
                            <td><%= results[i][0]%></td>
                            <td><%= results[i][1]%></td>
                            <td><%= results[i][2]%></td>
                            <td><%= results[i][3]%></td>
                            <td><%= results[i][4]%></td>
                            <td><%= results[i][5]%></td>
                            <td><%= results[i][7]%></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <%}%>
        </div>
    </body>
</html>
